body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code,
h4,
h1,
h2,
h6,
h5,
h3,
p,
span {
  font-family: "Lato", sans-serif !important;
}
